body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}



nav {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #444;
    padding: 10px;
}

#cartPreview {
    background-color:#645d5d;
    border-radius: 15px;
    padding: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
}




#phoneNumbers {
	display: flex;
	gap: 10px;
    margin-bottom: 10px; 
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-button {
	background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.nav-button.active {
    background-color: green;
}

#content {
    background-color: #444;
    padding: 20px;
    margin-top: 20px;
}

#catalogTable, #cartTable {
    width: 100%;
    border-collapse: collapse;
}

#catalogTable th, #catalogTable td, #cartTable th, #cartTable td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

#catalogTable th, #cartTable th {
    background-color: #555;
}



#cart button {
    background-color: #777;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

p {
    color: inherit !important;
    text-decoration: none;
}

a {
    color: inherit !important;
    text-decoration: underline;
}

div {
    border-style: solid;
    border-color: rgb(238, 183, 112);
    border-width: 6px;
    margin: 3px
}

.groupsGeneralDivision {
    display: flex;
    flex-direction: column;
}

.none {
    display: none;
} 