:root{
    --accent: #ffe8d9;
    --background: #F9FAFB;
    --radius: 5px;
    --spacing: .25rem;
    --border-style: solid;
    --border-color: #e5e7eb;
    --border-width: 1px;
    --container-2xl: 42rem;
    --container-4xl: 56rem;
    --container-7xl: 80rem;
    --radius: .5rem;
    --font-sans: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --default-font-family: var(--font-sans);
    --primary: #ff9f66;
    --primary-hover: #eb905c;
    --bright-primary-hover: #ff9e6673;
    --muted-foreground: #6B7280;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --font-weight-medium: 500;
}

*, ::after, ::before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
}

h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
}



html {
    margin-right: 0;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family);
    height: 100%;
    width: 100%;
}

.background-primary {
    background-color: var(--primary);
}

.background-white {
    background-color: white;
}

.background-accent {
    background-color: var(--accent);
}

.border {
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-width: var(--border-width);
}

.border-t {
    border-top-style: var(--border-style);
    border-top-color: var(--border-color);
    border-top-width: var(--border-width);
}

.border-none {
    border-width: 0px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.h-16 {
    height: calc(var(--spacing)*16);
}

.max-w-2xl {
    max-width: var(--container-2xl);
}

.max-w-4xl {
    max-width: var(--container-4xl);
}

.max-w-7xl {
    max-width: var(--container-7xl);
}

.mb-2 {
    margin-bottom: calc(var(--spacing)*2);
}

.mb-4 {
    margin-bottom: calc(var(--spacing)*4);
}

.mb-6 {
    margin-bottom: calc(var(--spacing)*6);
}

.mb-8 {
    margin-bottom: calc(var(--spacing)*6);
}

.mb-16 {
    margin-bottom: calc(var(--spacing)*16);
}

.min-w-100px {
    min-width: 100px;
}

.mt-2 {
    margin-top: calc(var(--spacing)*2) !important;
}

.mx-auto {
    margin-inline: auto;
}

.p-2 {
    padding: calc(var(--spacing)*2);
}

.p-4 {
    padding: calc(var(--spacing)*4);
}

.p-6 {
    padding: calc(var(--spacing)*6);
}

.p-8 {
    padding: calc(var(--spacing)*8);
}

.py-2 {
    padding-block: calc(var(--spacing)*2);
}

.py-3 {
    padding-block: calc(var(--spacing)*3);
}

.py-4 {
    padding-block: calc(var(--spacing)*4);
}

.py-5 {
    padding-block: calc(var(--spacing)*5);
}

.py-8 {
    padding-block: calc(var(--spacing) * 8);
}

.py-16 {
    padding-block: calc(var(--spacing) * 16);
}

.px-4 {
    padding-inline: calc(var(--spacing)*4);
}

.px-6 {
    padding-inline: calc(var(--spacing)*6);
}

.px-8 {
    padding-inline: calc(var(--spacing)*8);
}

.shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.color-primary {
    color: var(--primary);
}

.color-white {
    color: white;
}

.gap-1 {
    gap: calc(var(--spacing)*1);
}

.gap-2 {
    gap: calc(var(--spacing)*2);
}

.gap-3 {
    gap: calc(var(--spacing)*3);
}

.gap-4 {
    gap: calc(var(--spacing)*4);
}

.gap-6 {
    gap: calc(var(--spacing)*6);
}

.gap-8 {
    gap: calc(var(--spacing)*8);
}

.rounded {
    border-radius: .25rem;
}

.rounded-lg {
    border-radius: var(--radius);
}

.rounded-full {
    border-radius: 50%;
}

.sticky {
    position: sticky;
}

.w-8 {
    width: calc(var(--spacing)*8);
}

.w-12 {
    width: calc(var(--spacing)*12);
}

.w-full {
    width: 100%;
}

.h-8 {
    height: calc(var(--spacing)*8);
}

.h-64 {
    height: calc(var(--spacing)*64);
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-muted-foreground {
    color: var(--muted-foreground);
}

.grey-hover:hover {
    background-color: #e5e7eb;
}

.primary-hover:hover {
    background-color: var(--primary-hover);
}

.primary-hover-border:hover {
    box-shadow: 0 0 2px 1px var(--primary);
}

.primary-bright-hover:hover {
    background-color: var(--bright-primary-hover);
}

.overflow-hidden {
    overflow: hidden;
}

.text-4xl {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
}

.lg\:text-5xl {
    @media (width >= 64rem) {
        font-size: var(--text-5xl);
        line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
}

.lg\:h-96 {
    @media (width >= 64rem) {
        height: calc(var(--spacing) * 96);
    }
}

@media (min-width: 64rem) {
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 48rem) {
    .md\:grid-cols-2 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
}


img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}


.object-cover {
    object-fit: cover;
}

.delete-button {
    color: red;
    border-width: 0px;
    border-radius: var(--radius);
}



body {
    background-color: var(--background);
    margin: 0;
    height: 100%;
    width: 100%;
}


.homeWelcome {
    background: linear-gradient(to right, rgb(255, 225, 198), white);
}


/*
#region Стилизация общего шаблона таблицы для сайта
*/

thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #e2eeff;
}

thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}

thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}

tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	vertical-align: top;
}

tbody tr:nth-child(even){
	background: #F5F7FA;
}

tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}

tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

/*
#endregion Стилизация общего шаблона таблицы для сайта
*/

/*
#region Cтили header
*/
.cap {
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.8);
    backdrop-filter: blur(2px);
    z-index: 9999;
}

/*
#region Cтили компонентов nav
*/
.nav-button {
    cursor: pointer;
}
.nav-button.active {
    color:white;
    background-color: var(--primary);
}
/*
#endregion Cтили компонентов nav 
*/

/*
#region Cтили компонентов групп
*/

#groupsGeneralDivision {
    display: flex;
    flex-direction: row;
}

/*
#region Стили списков ul для групп
*/

#groupsGeneralDivision ul{
    list-style-type: none;
    padding: 0;
}

#groupsGeneralDivision li{
    align-items: center;
    position: relative;
    width: fit-content;
    margin-left: 15px;
    border-bottom: 3px solid transparent;
    border-radius: 5px;
    transition: .3s;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    &:hover{
        border-color: darksalmon;
    }
}

.icon-menu {
    align-items: center;
    content: url('img/plus.svg');
}

#groupsMenu {
    width: 30%;
    height: min-content;
}

/*
#endregion Стили списков ul для групп
*/

/*
#region Стили #groupMain
*/

#groupMain {
    width: 70%;
}
 
#groupMain li {
    list-style-position: inside;
}

#groupMain table {
    table-layout: auto;
    width: 90%;
    margin: 0px auto;
    border-collapse: collapse;
}

/*
#endregion Стили #groupMain
*/

.groupsDivision {
    background-color: #fff;
    border-radius: 15px;
}

/*
#endregion Cтили компонентов групп
*/



ul {
  padding-left: 1.5em;
}

#catalogTable {
    width: 100%;
    border-collapse: collapse;
}

#catalogTable th, #catalogTable td, #cartTable th, #cartTable td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

#cartPreview {
    background-color:#999393;
    border-radius: 15px;
    padding: 5px;
}



#emptyCart {
  text-align: center;
  white-space: pre-line;

  color: #777;
  line-height: 2.2rem;
  padding: calc(var(--spacing)*12);
  border-color: var(--border-color);
  border-style: var(--border-style);    
  border-width: 1px;
  border-radius: var(--radius);
  background-color: white;
}

#cartPurchases {

}

.purchase {
    display: flex;
    padding: calc(var(--spacing)*6);
}

.purchase:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
    border-bottom-style: var(--border-style);
}

.purchaseSummary {
    flex: 1
}

.purchaseSummary h3,
.purchaseSummary p {
    margin: 0;
}

.none {
    display: none !important;
}

button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
}